*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*----------Background Start----------*/
.background, .leftSide, .rightSide {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.background {
    background: white;
    position: fixed;
    overflow-y: auto;
}
/*----------Background End----------*/
/*----------Top Side Start----------*/
.topSide {
    height: 25vh;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-bottom-left-radius: 2vh;
}
/*----------Top Side End----------*/
/*----------Light/Dark Mode Start----------*/
.lightModeDark {
    width: 4vh;
    height: 4vh;
    position: fixed;
    border-radius: 100%;
    z-index: 1;
    top: 95vh;
    left: 5vw;
    transform: translate(-2vw, -5vh);
}

.lightModeDark i {
    font-size: 4vh;
}

.lightModeDark:hover {
    border-radius: 50%;
    box-shadow: 0px 2vh 2vh rgba(0, 0, 0, 0.1); /* Use vmin for box-shadow */
    transition: all 0.3s ease-out;
    border: 1vh solid transparent;
}

.darkModeToggle {
    background: none;
    color: rgba(0, 0, 0, .7);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lightModeToggle {
    background: none;
    color: rgba(255, 255, 255, .7);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switchModeActive {
    display: flex !important;
}
/*---------------------------Light/Dark Mode Start---------------------------*/
/*----------Picture and Menu Start----------*/
.pic-n-menu {
    top: 12%;
    width: 17vw;
    position: fixed;
    z-index: 1;
    transform: translateX(11vw);
}

.portrait-picture {
    max-width: 25vw;
    max-height: 25vh; 
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

img.portrait-picture {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/*----------Picture and Menu End----------*/
/*---------------------------Menubar Start---------------------------*/
.menubar {
    min-width: min-content;
    max-width: 17vw;
    height: 27%;
    margin-top: 6vh;
    padding: 0 4vw;
}

.menucontents {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
}

.mclist.active {
    transition: 0.5s;
    z-index: 1;
}

#mclaboutme.mclist.active {
    transform: translateX(-77%);
}
#mcleducation.mclist.active {
    transform: translateX(-73%);
}
#mclexperience.mclist.active {
    transform: translateX(-68%);
}
#mclskills.mclist.active {
   transform: translateX(-150%);
}
#mclcontact.mclist.active {
    transform: translateX(-91.5%);
}

.mclist {
    margin-bottom: 2vh;
    font-size: 2vh;
    margin-top: 2vh;
    width: max-content;
}

.mclisttext {
    display: contents;
    position: absolute;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
}

@keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.mclist:hover {
    animation: flash 3s infinite;
    animation-play-state: running;
    opacity: .7;
}

.mclindicator {
    position: absolute;
    width: 15vh;
    height: 5vh;
    background: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -24px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -36px inset;
    border-radius: 0;
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border-bottom-right-radius: 10vh;
    border: 0.4vh solid rgb(255, 255, 255);
    transition: 0.5s;
}

.mclindicator::before {
    content: '';
    top: -38%;
    left: 45%;
    width: 0.5vw;
    height: 0.9vh;
    background: rgb(255, 255, 255);
    border-bottom-left-radius: 0.4vh;
    box-shadow: -5px 0px 0px 0px rgb(255, 255, 255);
}

.mcldarkmode, .mclindicator::before {
    content: '';
    top: -38%;
    left: 45%;
    width: 0.5vw;
    height: 0.9vh;
    background: rgb(24, 61, 61);
    border-bottom-left-radius: 0.4vh;
    box-shadow: -5px 0px 0px 0px rgb(92, 131, 116);
}

.mclindicator::after {
    content: '';
    top: 111%;
    left: 45%;
    width: 0.5vw;
    height: 0.9vh;
    background: rgb(255, 255, 255);
    border-top-left-radius: 0.4vh;
    box-shadow: -5px 0px 0px 0px rgb(255, 255, 255);
}

.mcldarkmode, .mclindicator::after {
    content: '';
    top: -38%;
    left: 45%;
    width: 0.5vw;
    height: 0.9vh;
    background: rgb(24, 61, 61);
    border-bottom-left-radius: 0.4vh;
    box-shadow: -5px 0px 0px 0px rgb(92, 131, 116);
}

.mclist:nth-child(1).active ~ .mclindicator {
    transform: translateY(calc(19.8vh * -0.705)) translateX(-50%);
}

.mclist:nth-child(2).active ~ .mclindicator {
    transform: translateY(calc(19.8vh * -0.350)) translateX(-50%);
}

.mclist:nth-child(3).active ~ .mclindicator {
    transform: translateY(calc(19.8vh * 0)) translateX(-50%);
}

.mclist:nth-child(4).active ~ .mclindicator {
    transform: translateY(calc(19.8vh * 0.350)) translateX(-50%);
}

.mclist:nth-child(5).active ~ .mclindicator {
    transform: translateY(calc(19.8vh * 0.705)) translateX(-50%);
}
/*---------------------------Menubar End---------------------------*/
/*----------Head Title Start----------*/
.title-name {
    display: block;
    position: absolute;
    font-size: 2vh;
    width: 50vw;
    z-index: 2;
    height: 100%;
    margin-left: 37.5%;
    margin-top: 18vh;
}

.f-l-name {
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 2.5vh;
}

.job-description {
    font-weight: 300;
    color: rgba(0, 0, 0, .7);
    margin-top: 1vh;
}
/*----------Head Title End----------*/
/*----------Contents Start----------*/
.contents {
    display: flex;
    width: -webkit-fill-available;
    background: white;
    color: rgba(0, 0, 0, .7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-top-left-radius: 2vh;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 5vh
}

.aboutme {
    margin-bottom: 4vh;
    font-size: 2vh;
    padding-top: 5vh;
    text-align: justify;
}

.aboutmetitle, 
.educationtitle, 
.experiencetitle, 
.skillstitle, 
.contactstitle {
    display: flex;
    justify-content: center;
}

.aboutmecontents, 
.universityname, 
.jobtitle, 
.skills, 
.languagestitle, 
.contactcity, 
.theskills {
    margin-top: 2vh;
}

.socialstitle {
    margin-top: 4vh;
}

.contactcity, 
.contactphone, 
.contactmail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cityname, 
.phonenumber, 
.mymail {
    padding-left: 0.4vh;
}

.contactmail {
    margin-bottom: 2vh;
}

.education, 
.experience, 
.skills, 
.contact {
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 2vh;
    padding-top: 5vh;
    
}

.theskills {
    margin-bottom: 4vh;
}

.theskillsul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1vh;   
}

.languagestitle {
    margin-bottom: 2vh;
}
/*----------Contents End----------*/
/*---------------------------Socials Buttons Start---------------------------*/
.socialswrapper {
    display: flex;
}

.socialsbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3em;
    width: 3em;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2vh 2vh rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.socialsbutton:hover {
    width: auto;
    border-radius: 0;
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border-bottom-right-radius: 10vh;
    border: 1vh solid transparent;
}

.socialsicon {
    display: contents;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 6vh; 
    transition: all 0.3s ease-out;
    font-size: 3vh;
}

.socialsicon {
    display: block;
}

.socialsicon i {
    padding-top: 2vh;
    padding-right: 0.2vw;
    height: 2vh;
    width: 2vw;

}

.socialname {
    display: none;
}

.socialsbutton:hover .socialsicon {
    display: none; 
}

.socialsbutton:hover .socialname {
    display: block;
    animation: flash 3s infinite;
    animation-play-state: running;
    opacity: .7;
}
/*---------------------------Socials Buttons End---------------------------*/

@media screen and (min-width: 1024px) and (max-width: 1450px) {
    .pic-n-menu {
        transform: translateX(10vw);
        transition: 0.3s ease-in-out;
    }
    .job-description {
        font-size: 1.5vh;
    }
    .title-name {
        position: absolute;
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
    .menubar {
        visibility: collapse;
    }
    .contents {
        margin-left: 0;
        z-index: 0;
    }
    .pic-n-menu {
        position: absolute;
        top: 17%;
    }
    .job-description {
        font-size: 1.5vh;
    }
    .lightModeDark {
        top: 8vh;
        left: 9vw;
        position: absolute;
    }
    .socialsicon {
        left: 3.4vw;
        width: 0;
        line-height: 0;
    }
    .title-name {
        margin-top: 21.5vh;
        position: absolute;
    }
    * {
        font-size: 1.5vh;
    }

}

@media screen and (max-width: 479px){
    .menubar {
        visibility: collapse;
    }
    .contents {
        margin-left: 0;
        z-index: 0;
    }
    .pic-n-menu {
        position: absolute;
        top: 21%;
    }
    .job-description {
        font-size: 1.5vh;
    }
    .lightModeDark {
        top: 8vh;
        left: 9vw;
        position: absolute;
    }
    .socialsicon {
        left: 3.4vw;
        width: 0;
        line-height: 0;
    }
    .title-name {
        margin-top: 21.5vh;
        position: absolute;
    }
    * {
        font-size: 1.5vh;
    }

}