.user-input-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.15) 0px 0px 36px -18px inset;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Adjust blur intensity */
    z-index: 9999;
  }

.error-message {
    position: absolute;
    background-color: #e01c5c;
    color: #414042;
    border-radius: 2vh;
    font-size: 6vh;
    padding: 1vh;
    z-index: 9999;
}

.user-input-screen #Logo {
    position: fixed;
    top: 7%;
    height: 9vh;
}

.user-input-screen.dark-mode {
    background-color: #414042;
    box-shadow: rgba(224, 28, 92, 0.15) 0px 0px 60px -12px inset, rgba(0, 0, 0, 0.15) 0px 0px 36px -18px inset;

}

.user-input-screen.dark-mode-text {
    color: whitesmoke;
}
  
.user-input-screen.light-mode {
    background-color: whitesmoke;
}

.user-input-screen.light-mode-text {
    color: #414042;   
}

.uis-info-text {
    position: fixed;
    font-size: 2.5vh;
    top: 26%;
}

.user-input-screen.dark-mode .uis-info-text {
    color: whitesmoke;
    
}

.user-input-screen.dark-mode .uis-info-box {
    color: whitesmoke;
    box-shadow: rgba(224, 28, 92, 0.15) 0px 4px 12px;
}

.uis-input-box {
    position: absolute;
    left: 31%;
    font-weight: 300;
    background-color: whitesmoke;
    border: solid #e01c5c;
    border-radius: 1vh;
    bottom: 37%;
    width: 18vw;
    height: 25vh;
    overflow-y: auto;
    overflow-x: auto;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.uis-input-box::placeholder {
    white-space: normal; /* Allows normal text wrapping */
    overflow-wrap: break-word; /* Ensures long words wrap */
    word-break: normal; /* Default word break behavior */
    word-wrap: break-word; /* Older browser support */
}

.uis-item {
    padding-left: 2vh;
}

.user-input-screen.dark-mode .uis-remove-button {
    box-shadow: rgba(224, 28, 92, 0.15) 0px 4px 12px;
}

.uis-remove-button {
    background-color: #e01c5c;
    color: whitesmoke;
    border: outset #e01c5c;
    border-radius: 0.5vh;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    margin-left: 1vh;
    padding: 0;
    font-size: 1.5vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.uis-remove-button:hover {
    color: #414042;
    background-color: whitesmoke;
    border: outset whitesmoke;
}

.go-vote-button {
    position: absolute;
    font-size: 3vh;
    bottom: 15%;
    height: 5vh;
    width: 8.5vw;
    cursor: pointer;
    color: whitesmoke;
    background-color: #414042;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.user-input-screen.dark-mode .go-vote-button  {
    border: outset #e01c5c;
    border-radius: 1vh;
    box-shadow: rgba(224, 28, 92, 0.15) 0px 4px 12px;

}

.user-input-screen.light-mode .go-vote-button  {
    border-radius: 1vh;
}

.go-vote-button:hover {
    background-color: whitesmoke;
    color: #e01c5c;
}

.add-items-button, .clear-items-button {
    position: relative;
    font-size: 2.5vh;
    bottom: -21%;
    height: 4.5vh;
    width: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.add-items-button {
    color: whitesmoke;
    background-color: #414042;
    width: 14vh;
    left: -16vh;
}

.user-input-screen.dark-mode .add-items-button,
.user-input-screen.dark-mode .clear-items-button  {
    border: outset #e01c5c;
    border-radius: 1vh;
    box-shadow: rgba(224, 28, 92, 0.15) 0px 4px 12px;
}

.user-input-screen.light-mode .add-items-button  {
    border-radius: 1vh;
}

.add-items-button:hover, .clear-items-button:hover {
    background-color: whitesmoke;
    color: #414042;
}

.clear-items-button {
    color: whitesmoke;
    background-color: #e01c5c;
    right: -16vh;
}

.user-input-screen.dark-mode .clear-items-button:hover, 
.user-input-screen.dark-mode .add-items-button:hover  {
    border: outset whitesmoke;
}

.user-input-screen.light-mode .clear-items-button {
    border-radius: 1vh;
}

.uis-items-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
}

.uis-items-container {
    position: absolute;
    right: 31%;
    bottom: 37.1%;
    border: solid #e01c5c;
    border-radius: 1vh;
    width: 18vw;
    height: 25.6vh;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.user-input-screen.dark-mode .uis-items-container {
    box-shadow: rgba(224, 28, 92, 0.15) 0px 4px 12px;
}